.club {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.workout-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    padding-top: 40px;
}

.cards-area {
    text-align: center;
    margin-top: 30px;
}

.cards-area h1 {
    color: #4C6793;
}

.calculation-area {
    color: #fff;
    background-color: #8eaad6;
}