.club {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.workout-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cards-area {
    text-align: center;
}

.cards-area h1 {
    color: #4C6793;
}